.loading {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0 8px;
    width: 100%;
}
  
td,
th {
    text-align: left;
    padding: 16px;
}
  
th {
    background: #E8E8E8;
}
  
th:first-child {
    border-bottom-left-radius: 10px;
}
  
th:last-child {
    border-bottom-right-radius: 10px;
}
  
td {
    background: white;
}
  
td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
  
td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.status {
    text-transform: capitalize;
}
  
.customer-name {
    display: flex;
    flex-direction: column;
}
  
.customer-name > span {
    background: white;
}
  
.customer-name > span:last-child {
    font-size: 12px;
    margin-top: 4px;
}
  
.curreny{
    font-weight: bold;
}